---
layout: default
---

<div class="post">
  <header class="post-header">
    <div class="d-flex align-items-center">
      <!-- Profile Image -->
      <div class="profile float-left">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          <img src="{{ profile_image_path }}" alt="Profile image" class="rounded-circle img-fluid profile-img" style="width: 150px; height: 150px; object-fit: cover;">
        {% endif %}
      </div>
      <!-- Name and Title -->
      <div class="profile-info ml-4">
        <h1 class="post-title">
          {{ site.first_name }} {{ site.last_name }}
        </h1>
        <h2 class="post-title">{{ site.current_status }}</h2>
        <h2 class="post-title">{{ site.affiliation }}</h2>
        <h2 class="post-title">{{ site.office }}</h2>
        <h2 class="post-title">{{ site.email_contact }}</h2>
        <div class="contact-icons mt-2">
          <a href="mailto:{{ site.email | encode_email }}" title="email"><i class="fas fa-envelope"></i></a>
          <span class="divider" style="margin: 0 5px;"></span>
          <a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
          <span class="divider" style="margin: 0 5px;"></span>
          <a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fab fa-github"></i></a>
          <!-- Add more social icons as needed -->
        </div>
      </div>
    </div>
  </header>

  <article>

    {% comment %} <div class="social-small">
      <div class="contact-icons">
        <a href="mailto:{{ site.email | encode_email }}" title="email"><i class="fas fa-envelope"></i></a> 
        <span class="divider" style="margin: 0 5px;"></span>
        <a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
        <span class="divider" style="margin: 0 5px;"></span>
        <a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fab fa-github"></i></a>
      </div>
        
    </div> {% endcomment %}
    <div class="clearfix">{{ content }}</div>
    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
